Unit]
Description=Run Printer Exporter for Floor 2 on 1st, 2nd, 3rd of every month

[Timer]
# 在每月的1,2,3号，于 12:30 运行
OnCalendar=*-*-01,02,03 12:30:00
# 在每月的1,2,3号，于 12:45 运行
OnCalendar=*-*-01,02,03 12:45:00
# 在每月的1,2,3号，于 13:00 运行
OnCalendar=*-*-01,02,03 13:00:00
# 在每月的1,2,3号，于 13:15 运行
OnCalendar=*-*-01,02,03 13:15:00

Persistent=true

[Install]
WantedBy=timers.target